@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #14808b;
  --secondary: #e8f1f5;
  --tertiary: #12313a;

  --font-fredericka-the-great: 'Fredericka The Great', serif;
  --font-merriweather-sans: 'Merriweather Sans', sans-serif;
}

@layer utilities {
  .striped li:nth-child(even) {
    @apply bg-zinc-600 text-secondary;
  }

  .striped li:nth-child(odd) {
    @apply bg-white text-tertiary;
  }
}

*,
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  scroll-behavior: smooth;
}
